/* Inisialisasi warna dalam selector root */
:root {
  --primary: #fffbfb;
  --bg: rgb(240, 237, 237);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: black;
  box-shadow: 5px 0px 10px -2px black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 9999;
}

.navbar-nav a {
  color: white;
  padding-left: 3rem;
}

.navbar-extra a {
  color: white;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.navbar .navbar-logo span {
  color: red;
}
